
code/old_RF.R
CDDs_2020_global.tif
CDDs_2040_2060_245_global.tif
CDDs_2040_2060_370_global.tif
code/archive/cooling_demand.R
code/archive/cooling_demand_080620.R
code/archive/old_RF.R
code/archive/pending.R
dhs/2.zip
dhs/3.zip
dhs/4.zip
dhs/5.zip
dhs/citation.txt
dhs/data_availability.csv
dhs/data_schema_subnational.txt
dhs/dhs_spatial_data_subnational_metadata.xml
dhs/explanatory_notes_subnational.txt
dhs/field_names.csv
dhs/shps/sdr_subnational_data_ais_2005.cpg
dhs/shps/sdr_subnational_data_ais_2005.dbf
dhs/shps/sdr_subnational_data_ais_2005.prj
dhs/shps/sdr_subnational_data_ais_2005.sbn
dhs/shps/sdr_subnational_data_ais_2005.shp
dhs/shps/sdr_subnational_data_ais_2005.sbx
dhs/shps/sdr_subnational_data_ais_2005.shp.xml
dhs/shps/sdr_subnational_data_ais_2005.shx
dhs/shps/sdr_subnational_data_dhs_1996.cpg
dhs/shps/sdr_subnational_data_dhs_1996.dbf
dhs/shps/sdr_subnational_data_dhs_1996.prj
dhs/shps/sdr_subnational_data_dhs_1996.sbn
dhs/shps/sdr_subnational_data_dhs_1996.sbx
dhs/shps/sdr_subnational_data_dhs_1996.shp
dhs/shps/sdr_subnational_data_dhs_1996.shp.xml
dhs/shps/sdr_subnational_data_dhs_1996.shx
dhs/shps/sdr_subnational_data_dhs_2012.cpg
dhs/shps/sdr_subnational_data_dhs_2012.dbf
dhs/shps/sdr_subnational_data_dhs_2012.prj
dhs/shps/sdr_subnational_data_dhs_2012.sbn
dhs/shps/sdr_subnational_data_dhs_2012.sbx
dhs/shps/sdr_subnational_data_dhs_2012.shp
dhs/shps/sdr_subnational_data_dhs_2012.shp.xml
dhs/shps/sdr_subnational_data_dhs_2012.shx
dhs/shps/sdr_subnational_data_dhs_2013.cpg
dhs/shps/sdr_subnational_data_dhs_2013.dbf
dhs/shps/sdr_subnational_data_dhs_2013.prj
dhs/shps/sdr_subnational_data_dhs_2013.sbn
dhs/shps/sdr_subnational_data_dhs_2013.sbx
dhs/shps/sdr_subnational_data_dhs_2013.shp
dhs/shps/sdr_subnational_data_dhs_2013.shp.xml
dhs/shps/sdr_subnational_data_dhs_2013.shx
dhs/shps/sdr_subnational_data_dhs_2015.cpg
dhs/shps/sdr_subnational_data_dhs_2015.dbf
dhs/shps/sdr_subnational_data_dhs_2015.prj
dhs/shps/sdr_subnational_data_dhs_2015.sbn
dhs/shps/sdr_subnational_data_dhs_2015.sbx
dhs/shps/sdr_subnational_data_dhs_2015.shp
dhs/shps/sdr_subnational_data_dhs_2015.shp.xml
dhs/shps/sdr_subnational_data_dhs_2015.shx
dhs/SSA.zip
energy/Allen R.G., Pereira L.S., Raes D., M. - Smith. Crop Evapotranspiration (guidelines for computing crop water requirements)  -.pdf
env/until_row_146.RData
Getting ahead_ cosa fare adesso_.ics
kwh_map.png
kwh_region.png
Locally Developed Low Cost Particulate Matter Sensors for Modeling PM2.5 in Uganda.ics
noacc18.tif
pop18.tif
urbrur.tif
wc2.1_5m_tavg/.Rhistory
*.png
*.tif
wc2.1_5m_tavg/paraculo.txt
*.bak
